version: "1.0"

volumes:
  rabbitmq_data:
    driver: local
  rabbitmq_log_data:
    driver: local

services:
  rabbitmq:
    image: 3-management-alpine
    container_name: 'rabbitmq'
    ports:
      - ${RABBITMQ_SERVER_HOST_PORT}:${RABBITMQ_SERVER_CONTAINER_PORT}
      - ${RABBITMQ_UI_HOST_PORT}:${RABBITMQ_UI_CONTAINER_PORT}
    volumes:
      - rabbitmq_data:${RABBITMQ_DATA}
      - rabbitmq_log_data:${RABBITMQ_LOG_DATA}
