version: "1.0"

volumes:
  rabbitmq_data:
    driver: local
  rabbitmq_log_data:
    driver: local

services:
  rabbitmq:
    image: rabbitmq:3.11.11
    container_name: 'rabbitmq'
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
      - rabbitmq_log_data:/var/log/rabbitmq